@import url('../../../variables.module.css');

.footer{
    background: var(--dark-color);
    padding: 50px 0 30px 0;
}

.footer .footer_info_rbeauty{
    width: 100%;
    padding-left: 40px;
}

.footer .logo{
    border-radius: 50%;
    height: 72px;
    margin-bottom: 2.4vh;
    cursor: pointer;
}

.footer h2,
.footer p,
.footer ul{
    color: var(--white);
}

.footer h2{
    color: var(--tertiary-color);
}

.footer ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.6vh;
}

.footer .icons_social_network{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2vw;
}

.footer .icons_social_network i{
    font-size: 32px;
    color: var(--white);
}

.footer .credits{
    padding-top: 60px;
    text-align: center;
}