:root{
    --primary-color: #FC4b08;
    --secondary-color: #FF7C39;
    --tertiary-color: #FFA460;
    --white: #FFF;
    --gray: #999;
    --gray-md: #EDEDF0;
    --gray-lg: #F5F5F5;
    --alert-color: #FF0C37;
    --dark-color: #272727;
    --font-family: 'Montserrat', sans-serif;;
    --base-font-size: 1rem;
    --h1-font-size: 2.8rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.125rem;
    --inner-padding: 90px 0px;
    --inner-padding-md: 70px 0px;
    --inner-padding-sm: 50px 0px;
    --inner-padding-xs: 30px 0px;
}

// $primary-color: #FC4b08;
// $secondary-color: #FF7C39;
// $tertiary-color: #FFA460;
// $white: #FFF;
// $gray: #999;
// $gray-md: #EDEDF0;
// $gray-lg: #F5F5F5;
// $alert-color: #FF0C37;
// $dark-color: #272727;
// $font-family: 'Montserrat', sans-serif;;
// $base-font-size: 1rem;
// $h1-font-size: 2.8rem;
// $h2-font-size: 2rem;
// $h3-font-size: 1.5rem;
// $h4-font-size: 1.125rem;
// $inner-padding: 90px 0px;
// $inner-padding-md: 70px 0px;
// $inner-padding-sm: 50px 0px;
// $inner-padding-xs: 30px 0px;